streamlit
pandas
numpy
scikit-learn
pickle-mixin
import cv2
import numpy as np
import torch
from transformers import AutoModelForImageClassification, AutoFeatureExtractor
from torchvision import transforms
from PIL import Image